@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin sticky {
    position: sticky;
    top: 0;
    background-color: #13252f;
}
@mixin espaciadoLateral {
    width: 80%;
}
@mixin titleSize {
    font-size: 6vw;
}
@mixin subtitleSize {
    font-size: 1.2vw;
}
@mixin descriptionSize {
    font-size: 1.1vw;
}
@mixin espaciadoSupIntMain {
    margin-top: 4%;
    margin-bottom: 4%;
}