footer{
    background-color: #CFE8A9;
    width: 100%;
    height: 280px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    .footerContainer{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .otherContainer{
            width: 290px;
            height: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .d-flex{
                width: 98%;
            }
            .menuFooter{
                text-decoration: none;
                display: flex;
                flex-direction: column;
                font-family: 'Quicksand';
                font-weight: 500;
                font-size: 17px;
                color: #13252f;
                &:hover{
                    color: #E64848;
                }
            }
        }
        .socialContainer{
            .textRedes{
                font-family: 'Quicksand';
                color: #13252f;
                h5{
                    font-weight: 500;
                }
            }
            .iconsRedes{
                margin-top: 19px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .fa-brands{
                    color: #13252f;
                }
            }
        }
    }
    //576px
    @media (max-width: 576px){
        .footerContainer{
            flex-direction: column;
            width: 90%;
            .otherContainer{
                width: 100%;
                height: 45%;
                .d-flex{
                    width: 70%;
                }
                .menuFooter{
                    width: 100%;
                    text-align: center;
                    font-size: 17px;
                }
            }
            .socialContainer{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                .textRedes{
                    h5{
                        font-size: 17px;
                    }
                }
                .iconsRedes{
                    a{
                        margin-left: 15px;
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}