main{
    @include centrado;
    width: 100%;
    .mainContainer{
        margin-top: 4%;
        margin-bottom: 4%;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .leftContainer{
            font-family: 'Quicksand';
            .espDelDia{
                .EspecialNom{
                    font-weight: 700;
                    font-size: 6vw;
                    color: #FFFDE3;
                }
                .nomPizza{
                    font-weight: 700;
                    font-size: 6vw;
                    color: #CFE8A9;
                    &:hover{
                        transition: 1.2s;
                        transform: scale(1.2,1.2);
                    }
                }
                .pizzaDescrip{
                    font-weight: 500;
                    font-size: 1.2vw;
                    color: #FFFDE3;
                }
                .btn{
                    font-weight:500;
                    font-size: 16px;
                    color: #13252f;
                    &:hover{
                        background-color: rgba(207,232,169, 0.5);
                    }
                }
                .colorb1{
                    background-color: #CFE8A9;
                }
            }
        }
        .rigthContainer{
            @include centrado;
            .imgContainer{
                @include centrado;
                width: 660px;
                height: 660px;
                background: radial-gradient(closest-side, #13252f, #FFFDE3, #13252f);
                img{
                    width: 620px;
                    transition: 2s;
                    &:hover{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .mainMenuContainer{
        width: 90%;
        @include centrado;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-direction: column;
        .textMenu{
            margin-bottom: 60px;
            h3{
                color: #FFFDE3;
                font-family:'Quicksand' ;
                font-weight: 600;
                font-size: 6vw;
            }
        }
        .pizzasContainer{
            display: grid;
            justify-content: center;
            align-items: center;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            margin: 1px;
            width: 93%;
            height: 100%;
            color: #FFFDE3;
            font-family: 'Quicksand';
            .pizzaItem{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                padding-top: 2px;
                padding-bottom: 10px;
                width: 320px;
                height: 430px;
                background-color: rgba(207,232,169, 0.3);
                border-radius: 20px;
                img{
                    width: 80%;
                    height: auto;
                    padding: 3%;
                    transition: 1.1s;
                    &:hover{
                        transform: rotate(180deg);
                    }
                }
                h5{
                    width: 95%;
                    font-weight: 500;
                    font-size: 24px;
                    text-align: center;
                }
                p{
                    width: 95%;
                    height: auto;
                    font-weight: 300;
                    font-size: 17px;
                    text-align: center;
                }
                .orderContainer{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: row;
                    width: 95%;
                    height: auto;
                    .btn-group{
                        width: 139px;
                        height: 38px;
                        border-radius: 10px;
                        .btn{
                            font-weight: 500;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                    .colorb2{
                        background-color: #CFE8A9;
                    }
                    .basePrice{
                        font-weight: 500;
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .mainAboutContainer{
        width: 90%;
        font-family: 'Quicksand';
        color: #FFFDE3;
        @include centrado;
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 90px;
        .title{
            width: 100%;
            @include centrado;
            margin-bottom: 60px;
            h3{
                width: 100%;
                @include centrado;
                font-weight: 600;
                font-size: 6vw;
            }
        }
        .history{
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .historyDescription{
                padding: 2%;
                p{
                    font-weight: 500;
                    font-size: 23px;
                    img{
                        width: 130px;
                    }
                }
            }
        }
    }
    .mainContactContainer{
        width: 90%;
        @include centrado;
        font-family: 'Quicksand';
        .formContainer{
            margin-top: 80px;
            margin-bottom: 80px;
            width: 100%;
            @include centrado;
            flex-direction: column;
            .formTitle{
                margin-top: 60px;
                width: 100%;
                h3{
                    color: #FFFDE3;
                    text-align: center;
                    font-weight: 600;
                    font-size: 6vw;
                }
            }
            .formBox{
                margin-top: 60px;
                margin-bottom: 60px;
                width: 32%;
                .col{
                    input{
                        background-color: #FFFDE3;
                    }
                    textarea{
                        background-color: #FFFDE3;
                    }
                }
                .btn{
                    background-color: #CFE8A9;
                    color: #13252f;
                    font-weight: 500;
                    font-size: 16px;
                }
                label{
                    color: #FFFDE3;
                    font-weight: 300;
                }
                h6{
                    color: #FFFDE3;
                    font-weight: 100;
                    font-size: 20px;
                    a{
                        text-decoration: none;
                        color: #CFE8A9;
                        &:hover{
                            color: #E64848;
                        }
                    }
                }
            }
        }
    }
    .mainOfertaContainer{
        margin-top: 80px;
        margin-bottom: 80px;
        width: 90%;
        @include centrado;
        flex-direction: column;
        color: #FFFDE3;
        font-family: 'Quicksand';
        .textOferta{
            width: 100%;
            text-align: center;
            h3{
                font-weight: 600;
                font-size: 6vw;
            }
        }
        .pizzaOfertaContainer{
            margin-top: 60px;
            margin-bottom: 60px;
            width: 100%;
            @include centrado;
            .pizzaOfertaItem{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                background-color: rgba(207,232,169, 0.3);
                border-radius: 20px;
                padding: 30px;
                width: 670px;
                height: 785px;
                img{
                    width: 70%;
                    transition: 1.1s;
                    &:hover{
                        transform: rotate(180deg);
                    }
                }
                h5{
                    font-weight: 500;
                    font-size: 50px;
                }
                p{
                    font-weight: 400;
                    font-size: 20px;
                    text-align: center;
                }
                .orderContainer{
                    width: 60%;
                    height: 10%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    .btn-group{
                        width: 139px;
                        height: 38px;
                        border-radius: 10px;
                        background-color: #CFE8A9;
                        color: #13252f;
                        .btn{
                            font-weight: 500;
                            font-size: 16px;
                            text-align: center;
                        }
                    }
                    .basePrice{
                        font-weight: 500;
                        font-size: 30px;
                        text-align: center;
                    }
                }
            }
        }
        .menuButton{
            background-color: #CFE8A9;
            border-radius: 10px;
            &:hover{
                background-color: rgba(207,232,169, 0.5);
            }
            a{
                font-weight:600;
                font-size: 16px;
                color: #13252f;
            }
        }
    }
    .mainVoucherContainer{
        width: 90%;
        .formContainer{
            margin-top: 80px;
            margin-bottom: 80px;
            @include centrado;
            flex-direction: column;
            color: #FFFDE3;
            font-family: 'Quicksand';
            width: 100%;
            .formTitle{
                margin-bottom: 60px;
                h3{
                    font-weight: 600;
                    font-size: 6vw;
                    text-align: center;
                }
            }
            .formBox{
                width: 35%;
                .col{
                    font-weight: 400;
                    font-size: 16px;
                }
                a{
                    background-color: #CFE8A9;
                    color: #13252f;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
    }
    .mainComplainContainer{
        width: 90%;
        color: #FFFDE3;
        .formContainer{
            font-family: 'Quicksand';
            width: 100%;
            .formTitle{
                h3{
                    text-align: center;
                    font-weight: 600;
                    font-size: 6vw;
                }
            }
            .legalText{
                @include centrado;
                .disclaimer{
                    width: 50%;
                    text-align: center;
                }
            }
            .claimContainer{
                @include centrado;
                .identificacionDelReclamante{
                    padding: 2%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(207,232,169, 0.5);
                    width: 60%;
                    border-radius: 20px;
                    .incidente{
                        width: 80%;
                    }
                    .nombres{
                        width: 84%;
                    }
                    .contactoPers{
                        width: 84%;
                    }
                    .documentoId{
                        width: 84%;
                    }
                    .direccionGen{
                        width: 84%;
                    }
                    .direccionEx{
                        width: 80%;
                    }
                    .form-check{
                        width: 80%;
                        margin-bottom: 8px;
                    }
                    .datosApoderado{
                        width: 80%;
                    }
                }
            }
        }
    }
}