main{
    @include centrado;
    width: 99%;
    height: 90vh;
    .mainContainer{
        margin-top: 4%;
        margin-bottom: 4%;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .leftContainer{
            font-family: 'Quicksand';
            .espDelDia{
                .EspecialNom{
                    font-weight: 700;
                    font-size: 6vw;
                    color: #FFFDE3;
                }
                .nomPizza{
                    font-weight: 700;
                    font-size: 6vw;
                    color: #CFE8A9;
                }
                .pizzaDescrip{
                    font-weight: 500;
                    font-size: 1.2vw;
                    color: #FFFDE3;
                }
                .btn{
                    font-weight:500;
                    font-size: 16px;
                    color: #13252f;
                }
                .colorb1{
                    background-color: #CFE8A9;
                }
            }
        }
        .rigthContainer{
            @include centrado;
            .imgContainer{
                @include centrado;
                width: 660px;
                height: 660px;
                background: radial-gradient(closest-side, #13252f, #FFFDE3, #13252f);
                img{
                    width: 620px;
                    transition: 2s;
                    &:hover{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .mainMenuContainer{
        width: 90%;
        height: 90vh;
        @include centrado;
        flex-direction: column;
        .textMenu{
            h3{
                color: #FFFDE3;
                font-family:'Quicksand' ;
                font-weight: 600;
                font-size: 6vw;
            }
        }
        .pizzasContainer{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            width: 100%;
            height: 100%;
            color: #FFFDE3;
            font-family: 'Quicksand';
            .pizzaItem{
                img{
                    width: 300px;
                }
            }
        }
    }
}